@import '../abstracts/variables';

.about_container{
  background-color: $vClaro;
    //background-color: map.get($color, "vClaro"); 
    display: grid;
    grid-template: {
      columns: 1fr;
      rows: auto auto auto;
      areas: "home_navbar" "home_about" "home_footer";
    }
  }
